[Match]
Name=eth0

[Network]
Address=192.0.1.254/24
Address=2001:db8:0:1::254/64
IPForward=yes
IPv6DuplicateAddressDetection=no
IPv6AcceptRouterAdvertisements=false
