[Match]
Name=eth1

[Network]
Address=192.1.2.45/24
Gateway=192.1.2.254
Address=2001:db8:1:2::45/64
Gateway=2001:db8:1:2::254
IPForward=yes
IPv6DuplicateAddressDetection=no
IPv6AcceptRouterAdvertisements=false

[Route]
Gateway=192.1.2.23
Destination=192.0.2.0/24
GatewayOnlink=yes

[Route]
Gateway=2001:db8:1:2::23
Destination=2001:db8:0:2::254/48
GatewayOnlink=yes
