[Unit]
  Description=determine hostname from MAC
  #not-file-not-empty == file empty
  # ConditionFileNotEmpty=|!/etc/hostname
  # Between interfaces comming online ...
  After=systemd-networkd-wait-online.service
  Wants=systemd-networkd-wait-online.service
  # ... and user logins
  Before=multi-user.target
[Service]
  Type=oneshot
  ExecStart=/usr/local/sbin/hostnamer.sh
[Install]
  WantedBy=multi-user.target
