[Unit]
  Description=determine hostname from MAC
  #not-file-not-empty == file empty
  # ConditionFileNotEmpty=|!/etc/hostname
  # need interfaces configured
  After=systemd-networkd-wait-online.service
  Wants=systemd-networkd-wait-online.service
  Before=network-online.target
[Service]
  Type=oneshot
  ExecStart=/usr/local/sbin/hostnamer.sh
[Install]
  WantedBy=multi-user.target
