*~
.*.sw?
\#*\#
.\#*
BACKUP
RESULTS
DEADJOE
OBJ.*
*.rej
*.orig
*.bak
*.pyc
*.o
*.core
vcore.*
kvmrunner.pid
TAGS
tags
testing/pluto/*/OUTPUT/
testing/pluto/*/NS*
testing/x509/pki/
testing/x509/strongswan/
testing/x509/selfsigned/
testing/x509/up-to-date
osxApp/build
Makefile.inc.local
.ycm_extra_conf.py
cscope.out
testing/dnssec/dsset/
testing/dnssec/keys/
testing/dnssec/zones/
nohup.out
