#!/bin/sh

# This is the configuration file that helps setup for
# a kernel pool for KVM compilation with libreswan.
#
# Copy this file to the top of your libreswan source directory as
# kvmsetup.sh, edit that copy, and populate the paths.


# space for everything:
# Just a shorthand for the following definitions.
# Can be eliminated if available space is fragmented.
KVMPREFIX=/home/build

# XXX: Scripts under testing like to read in this file to determine
# this file's directory....
#
# XXX: This assumes that the source tree's top-level directory is
# called libreswan.*.  If it isn't it will need to be overridden.
LIBRESWANDIR=$(readlink -f $0 | sed "s/libreswan.*$/libreswan/")

# /source's mount point, default:
# SOURCEDIR=${LIBRESWANDIR}

# /testing's mount point, default:
# TESTINGDIR=${LIBRESWANDIR}/testing

REGRESSRESULTS=${KVMPREFIX}/results

# set this to someplace with at least 16GB free.
POOLSPACE=${KVMPREFIX}/pool

# Fedora media
OSTYPE=fedora
# Note: Replace this with your local Fedora tree if you have one.
OSMEDIA=http://download.fedoraproject.org/pub/fedora/linux/releases/21/Server/x86_64/os/

# Ubuntu media
# OSTYPE=ubuntu
# OSMEDIA=http://ftp.ubuntu.com/ubuntu/dists/precise/main/installer-amd64/

# Everything below should probably be left unchanged

# tell system location of special tcpdump, if any
TCPDUMP=/usr/sbin/tcpdump
export TCPDUMP

if [ ! -f ${TCPDUMP} ]; then
    echo "WARNING: tcpdump is not installed or invalid TCPDUMP= "
fi
