[Match]
Name=eth1
MACAddress=12:00:00:64:64:23

[Network]
Address=192.1.2.23/24
Gateway=192.1.2.254
Address=2001:db8:1:2::23/64
Gateway=2001:db8:1:2::254
IPForward=yes
IPv6DuplicateAddressDetection=0
IPv6AcceptRouterAdvertisements=false

[Route]
Gateway=192.1.2.45
Destination=192.0.1.0/24
GatewayOnlink=yes

[Route]
Gateway=2001:db8:1:2::45
Destination=2001:db8:0:1::/64
GatewayOnlink=yes

