[Match]
Name=eth1
MACAddress=12:00:00:de:ad:ba

[Network]
Address=192.1.2.254/24
Address=2001:db8:1:2::254/64
IPForward=yes
IPv6DuplicateAddressDetection=0
IPv6AcceptRouterAdvertisements=false

[Route]
Gateway=192.1.2.45
Destination=192.0.1.0/24
GatewayOnlink=yes

[Route]
Gateway=192.1.2.23
Destination=192.0.2.0/24
GatewayOnlink=yes

[Route]
Gateway=2001:db8:1:2::45
Destination=2001:db8:0:1::/64
GatewayOnlink=yes

[Route]
Gateway=2001:db8:1:2::23
Destination=2001:db8:0:2::/64
GatewayOnlink=yes

