[Match]
Name=eth1
MACAddress=12:52:49:53:45:01

[Network]
Address=192.0.2.12/24
Address=2001:db8:0:2::12/64
IPForward=yes
IPv6DuplicateAddressDetection=0
IPv6AcceptRouterAdvertisements=false
