[Match]
Name=eth2
MACAddress=12:00:53:45:54:02

[Network]
Address=198.18.1.15/24
Address=2001:db8:1::15/64
IPForward=yes
IPv6DuplicateAddressDetection=0
IPv6AcceptRouterAdvertisements=false
