[Match]
Name=eth0
MACAddress=12:00:00:de:cd:49

[Network]
Address=192.0.3.254/24
Address=2001:db8:0:3::254/64
IPForward=yes
IPv6DuplicateAddressDetection=0
IPv6AcceptRouterAdvertisements=false

