[Match]
Name=eth0
MACAddress=12:00:00:ab:cd:ff

[Network]
Address=192.0.1.254/24
Address=2001:db8:0:1::254/64
IPForward=yes
IPv6DuplicateAddressDetection=0
IPv6AcceptRouterAdvertisements=false

