[Unit]
Description=Internet Key Exchange (IKE) Protocol Daemon for IPsec
After=syslog.target
After=network.target
#After=remote-fs.target

[Service]
Type=simple
Restart=always
EnvironmentFile=-/etc/sysconfig/pluto
#Environment=IPSEC_LIBDIR=/usr/libexec/ipsec 
#Environment=IPSEC_SBINDIR=/usr/sbin 
#Environment=IPSEC_CONFS=/etc 
#Environment=IPSEC_EXECDIR=/usr/libexec/ipsec
#Environment=IPSECsyslog=daemon.error 
#PIDFile=/var/run/pluto/pluto.pid
#
ExecStartPre=/usr/bin/sh -c 'eval `ipsec addconn --config /etc/ipsec.conf --checkconfig`'
ExecStart=/usr/libexec/ipsec/pluto --config /etc/ipsec.conf --nofork $PLUTO_OPTIONS
ExecStop=/usr/sbin/ipsec whack --shutdown 
ExecStopPost=/usr/sbin/ip xfrm policy flush 
ExecStopPost=/usr/sbin/ip xfrm state flush
ExecReload=/usr/sbin/ipsec whack --rereadall

[Install]
WantedBy=multi-user.target
Alias=syslog.service
