Source: libreswan
Section: net
Priority: optional
Maintainer: Paul Wouters <paul@libreswan.org>
Vcs-Browser: http://git.libreswan.org/libreswan.git/.git;a=summary
Vcs-Git: git://git.libreswan.org//libreswan.git
Standards-Version: 3.8.4
Build-Depends: bison,
               bzip2,
               debhelper (>= 9),
               flex,
               htmldoc,
               libcurl4-openssl-dev,
               libgmp3-dev,
               libkrb5-dev,
               libldap2-dev,
               libnspr4-dev,
               libnss3-dev,
               libnss3-tools,
               libpam0g-dev,
               libssl-dev (>= 0.9.8),
               libunbound-dev,
               man2html,
               po-debconf
Homepage: https://libreswan.org/

Package: libreswan
Architecture: any
Pre-Depends: debconf | debconf-2.0
Depends: bsdmainutils,
         host,
         iproute,
         iproute (>=20041019-0.1),
         libnspr4,
         libnss3,
         libnss3-tools,
         libunbound2,
         openssl,
         ${misc:Depends},
         ${shlibs:Depends}
Suggests: curl,
          libreswan-doc
Provides: ike-server
Conflicts: ike-server
Replaces: ike-server
Description: Internet Key Exchange daemon
 Libreswan is an IPsec implementation for Linux. It has support for most
 of the extensions (RFC + IETF drafts) related to IPsec, including
 IKEv2, X.509 Digital Certificates, NAT Traversal, and many others.
 .
 Libreswan has been forked from Openswan 2.6.38, which was forked from
 FreeS/WAN 1.99.
 .
 The Libreswan IKE daemon is named pluto. It was inherited from the FreeS/WAN
 project, but provides improved X.509 certificate support and other features.

Package: libreswan-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libreswan (= ${binary:Version}), ${misc:Depends}
Description: Internet Key Exchange daemon - debugging symbols
 Libreswan is an IPsec based VPN solution for the Linux kernel. Both
 IKEv1 and IKEv2 protocols are supported.
 .
 This package provides the symbols needed for debugging of libreswan
 binaries.

Package: libreswan-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Internet Key Exchange daemon - documentation
 Libreswan is an IPsec based VPN solution for the Linux kernel. Both
 IKEv1 and IKEv2 protocols are supported.
 .
 This package provides the free parts of the documentation for Libreswan.
