#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(MAKE) programs \
		INC_USRLOCAL=/usr \
		FINALLIBEXECDIR=/usr/lib/ipsec \
		INC_RCDEFAULT=/etc/init.d \
		PUBDIR=/usr/sbin \
		MANTREE=/usr/share/man \
		USE_LDAP=true \
		USE_LIBCURL=true \
		USE_XAUTHPAM=true \
		USE_FIPSCHECK=false \
		USE_LIBCAP_NG=true \
		USE_LABELED_IPSEC=false \
		USE_DNSSEC=true

override_dh_auto_install-arch:
	# Add here commands to install the package into debian/libreswan
	$(MAKE) install \
		INC_USRLOCAL=/usr \
		FINALLIBEXECDIR=/usr/lib/ipsec \
		INC_RCDEFAULT=/etc/init.d \
		PUBDIR=$(CURDIR)/debian/libreswan/usr/sbin \
		MANTREE=$(CURDIR)/debian/libreswan/usr/share/man \
		DESTDIR=$(CURDIR)/debian/libreswan
	echo "removing files debian packaging does not need:"
	find \
	     $(CURDIR)/debian/libreswan/var/run \
	     $(CURDIR)/debian/libreswan/etc/sysconfig \
	  -print -delete

override_dh_auto_test:
	 echo "Skip dh_auto_test"
