[Unit]
Description=Bind mount a new /etc/sysconfig/network based on /proc/cmdline umid= VM hostname
Before=network.target

[Service]
Type=oneshot
ExecStart=/testing/fedora-setup/osw-vm-net-bindmount.py
ExecStart=/sbin/restorecon /etc/sysconfig/network*
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
