# sample @@IPSEC_SECRETS@@ file for 10.1.0.1:
10.1.0.1 10.2.0.1 : PSK "secret shared by two hosts"
# same for IPv6
"10::1:0:1" "10::2:0:1" : PSK "secret shared by two IPv6 hosts"

# sample roadwarrior
%any gateway.corp.com : PSK "shared secret with many roadwarriors"

# sample server for roadwarriors
myip %any : PSK "shared secret with many roadwarriors"

# an entry may be split across lines,
# but indentation matters

www.xs4all.nl @www.kremvax.ru
	      10.6.0.1 10.7.0.1 1.8.0.1 : PSK "secret shared by 5 systems"

# sample entry for static PPK
10.1.0.1 10.2.0.1 : PPKS "PPK_ID_1" "post-quantum preshared key for extra security"

# XAUTH password, used with leftusername=username
@username : XAUTH "password"

# get secrets from other files
include ipsec.*.secrets
